.Home img{
    background-attachment:fixed;
    width:1390px;
    height: 650px;
   
}
.Home {
    position: relative;
    text-align: center;
    padding: 20px;
  }
.Home h3{
    position: relative;
    margin-top: 10px;
    z-index: 3;
}

  
  .overlay-content {
    position: relative;
    display: inline-block;
  }
  
  .overlay-content h3 {
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;

  }
  .Home .About{
    padding-left: 25%;
    padding-top: 20px;
    width: 75%;
    text-align: center;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-weight: 300;
   font-size: 20px;
  
  
  }
  .font-bold {
    font-weight: bold;
  }
  
.product-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; 
  justify-content: center; 
  padding: 20px;
}


.card {
  max-width: 300px; 
  border: 1px solid rgb(173, 170, 170);
  border-radius: 6px;
  padding: 15px;
  text-align: center;
  background-color: #fff;
}


.card h5,
.card p {
  font-size: 15px;
  font-weight: 100;
  font-family: 'Times New Roman', Times, serif;
}
.card h5{
 font-weight: bold;
}


.Home .card-img-top {
  width:fit-content;
  height:fit-content;
  object-fit: cover;
  border-radius: 4px;
}



  